/* CSS GLOBAL 
------------------------------------------- */

/* Variáveis 
------------------------------------------  */

:root {
  --white: #fff;
  --gray-100: #D1F1D7;
  --gray-500: #D9D9D9;
  --gray-700: #B8D5BD;
  --green-300: #37D736;
  --green-500: #379936;
  --green-700: #176016;
  --red-500: #C91518;
  --black-500: #251A12;
  --yellow: #C6A916;
  --blue: #7CCFDD;
}

body {
  margin: 0;
  background-color: var(--gray-100) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* Reset 
------------------------------------------  */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 ;
}

/* Form 
------------------------------------------  */
select {
  background-color: var(--gray-500) !important;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;  
  border: transparent;
  padding: 10px 20px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9999 11.25L0.583252 0.833344H21.4166L10.9999 11.25Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: none;
}

input {
  width: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
}

.button {
  background-color: var(--green-500);
  color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
}